@model PhotoContest.App.Models.ViewModels.Contest.ContestViewModel

<div class="panel panel-default contest">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        @Model.Description
    </div>
    <span class="btn btn-link">Participate</span>
</div>