@model IEnumerable<PhotoContest.App.Models.ViewModels.Contest.ContestViewModel>
 

<h2>All Contests</h2>
<div class="row">
    @foreach (var contest in Model)
    {
        <div class="col-md-4">
            @Html.Partial("_AllContestPartial", contest)
        </div>
    }
</div>

