@model IEnumerable<PhotoContest.Infrastructure.Models.ViewModels.Contest.ContestViewModel>
@{
    ViewBag.Title = "My Contests";
}

<h2>My Contests</h2>
<div class="row">
    @foreach (var contest in Model)
    {
        <div class="col-md-4">@Html.Partial("_MyContestPartial", contest)</div>
    }
</div>