@model PhotoContest.App.Models.ViewModels.Contest.ContestViewModel

<a href="" class="panel panel-default contest">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        @Model.Description
    </div>
</a>