@model  PhotoContest.Infrastructure.Models.ViewModels.Picture.PictureViewModel

<div class="picture">
    <img src="data:image/jpg;base64,@Model.Url" class="img-thumbnail"/>
    <p>Uploader: @Model.User</p>
</div>
