@using Microsoft.AspNet.Identity
@model IEnumerable<PhotoContest.App.Models.ViewModels.Picture.FullPictureViewModel>
@{
    ViewBag.Title = "PreviewContest";
}

@if (!ViewBag.IsRegisterForContest)
{
    @Html.ActionLink("Participate", "Join", new {id = ViewBag.ContestId }, new {@class="btn btn-success"})
}
<br />
@if (ViewBag.isOrganizator)
{
    @Html.ActionLink("Manage", "ManageContest", new { id = ViewBag.ContestId }, new { @class = "btn btn-primary" })
}

<div class="row">
    @foreach (var picture in Model)
    {
        <div class="col-md-4">
            @Html.Partial("_FullPicturePartial", picture)
        </div>
    }
</div>