body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none
}

#upload-picture {
    width: 30%;
}
.picture {
    display: inline-block; 
    width: 150px; 
    height: 150px;
}
.picture > img {
    width: 150px;
    height: 150px;
}

.contests {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.contest {
    display: inline-block;
    min-width: 30%;
    margin: 5px;
}

.picturePreview {
    height: 200px;
}

#suggestions {
    margin-left: 1%;
    width: 30%;
}
#suggestions > li {
    padding: 5px;
}
#suggestions>li:hover {
    background-color: rgb(237, 238, 255);
    cursor: pointer;
}
#invite-user-username {
    display: inline-block;
}

#usernameCheckResult, #emailCheckResult {
    color: #ff0000;
}
#notifications {
    position: fixed;
    display: none;
    width: 100%;
    z-index: 100;
}

.alert {
    margin-bottom: 0;
    width: 100%;
}

.contest-panel {
    height: 142px;
    max-height: 150px;
}

.invitation {
    margin-top: 20px;
    width: 50%;
}