@model IEnumerable<PhotoContest.Infrastructure.Models.ViewModels.Contest.ContestViewModel>
@{
    ViewBag.Title = "Welcome Page";
}

<div class="jumbotron">
    <h1>Photo Contest</h1>
    <p class="lead">Welcome to the best online photo contest page</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Share your best pictures</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more votes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor</p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Win prizes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor</p>
        <p>
            <a class="btn btn-default" href="#">Learn more &raquo;</a>
        </p>
    </div>
</div>