@model IEnumerable<PhotoContest.Infrastructure.Models.ViewModels.Picture.PictureViewModel>
@{
    ViewBag.Title = "UploadPicture";
}

<div id="upload-picture">
    <h2>Upload New Picture</h2>

    @using (Ajax.BeginForm("Upload", "Contests", new { id = 45 }, new AjaxOptions()
    {
        HttpMethod = "POST",
    }, new { enctype = "multipart/form-data", name = "upload-picture-form" }))
    {
        @Html.AntiForgeryToken()
        <input type="file" name="files"><br>
        <input type="submit" value="Upload">
    }
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success">0%</div>
    </div>
    <div id="status"></div>
</div>

<div class="pictures" id="pictures">
    <h2>Uploaded Images</h2>

    @foreach (var picture in Model)
    {
        Html.RenderPartial("~/Views/Contests/_PicturePartial.cshtml", picture);
    }
</div>