@model DateTime
<div class="row">
    <div class="col-sm-6">
        @Html.LabelFor(x => x)
        <br />
        @(Html.Kendo()
        .DatePickerFor(x => x)
        .Name("datetimepicker")
        .HtmlAttributes(new { style = "width:150px" })
        )
    </div>
</div>