@model PhotoContest.Infrastructure.Models.ViewModels.Strategy.Deadline.ByNumberOfParticipantsViewModel

<div class="form-group">
    @Html.LabelFor(c => c.ParticipantsLimit, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.TextBoxFor(c => c.ParticipantsLimit,
                new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(c => c.ParticipantsLimit, string.Empty, new { @class = "text-danger" })
    </div>
</div>